{% extends "padre.html" %}
{% load static %}

{% block titulo %} ESTA ES LA PAGINA DE LOS ESTUDIANTES {% endblock %}

{% block contenido_que_cambia %}
<h2>LISTADO DE ESTUDIANTES </h2>
    <ul>
        {% for estudiante in object_list %}
        <li>
            {{ estudiante }}
            <a class="btn btn-info" href="{% url 'estudiante_detalle' estudiante.id %}">Mostrar</a>
            <a class="btn btn-success" href="{% url 'estudiante_editar' estudiante.id %}">editar</a>
            <a class="btn btn-danger" href="{% url 'estudiante_borrar' estudiante.id %}">Borrar</a>
            
        </li>
        {% endfor %}

        <br>
        <br>
        <a class="btn btn-primary" href="{% url 'EstudianteCrear' %}">AGREGAR ESTUDIANTE</a>

    </ul>
{% endblock %}