{% extends "padre.html" %}
{% load static %}

{% block titulo %} ESTA ES LA PAGINA DE LOS PROFESORES {% endblock %}

{% block contenido_que_cambia %}
<h1> PROFESORES</h1>

<h3> {{ mensaje }} </h3>
    <form action="{% url 'profesores' %}" method="POST"> {% csrf_token %}
        
        <table> {{formulario.as_table}}  </table>
        
        <input type="submit" value="Agregar">
    </form>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <Th>Email</Th>
            <th>Profesion</th>
            <TH>Opciones</TH>
        </tr>
    </thead>
    <tbody>
        {% for profesor in profesores %}
        <tr>
            <td>
                {{profesor.nombre}}
            </td>
            <td>
                {{profesor.apellido}}
            </td>
            <td>
                {{profesor.email}}
            </td>
            <td>
                {{profesor.profesion}}
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'eliminarProfesor' profesor.id %}">Eliminar</a>
                <a class="btn btn-success" href="{% url 'profesorEditar' profesor.id %}">Editar</a>

            </td>
        </tr>
        {% endfor %}


    </tbody>




</table>

{% endblock %}